<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%c@%t]%M(%L) %m%n" />
		</layout>
	</appender>

	<appender name="AkbDmp" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/home/webuser/log/dmp/AkbDmp.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%c@%t]%M(%L) %m%n" />
		</layout>
	</appender>

	<appender name="AkbDmpJob" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/webuser/log/dmp/AkbDmpJob.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%c@%t]%M(%L) %m%n" />
		</layout>
	</appender>
	
	<appender name="MongoInsertUrl" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/webuser/log/dmp/MongoInsertUrl.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%c@%t]%M(%L) %m%n" />
		</layout>
	</appender>
	
	<appender name="TransferData" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/webuser/log/dmp/TransferData201801.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%c@%t]%M(%L) %m%n" />
		</layout>
	</appender>

	<appender name="writeAkbDmp" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/webuser/log/dmp/TransferData201801.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%c@%t]%M(%L) %m%n" />
		</layout>
	</appender>
	
	<appender name="TestRun" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/webuser/log/dmp/TestRun.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%c@%t]%M(%L) %m%n" />
		</layout>
	</appender>

	<appender name="mapReduceMongoJob" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/webuser/log/dmp/MapReduceMongoJob.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%c@%t]%M(%L) %m%n" />
		</layout>
	</appender>

	<logger name="com.pchome.akbdmp.job.campaign.CampaignJob" additivity="true">
		<level value="info" />
		<appender-ref ref="AkbDmpJob" />
	</logger>
	
	<logger name="com.pchome.dmp.mapreduce.category.CategoryDriver" additivity="true">
		<level value="info" />
		<appender-ref ref="AkbDmpJob" />
	</logger>
	
	<logger name="com.pchome.dmp.mapreduce.category.CategoryMapper" additivity="true">
		<level value="info" />
		<appender-ref ref="AkbDmpJob" />
	</logger>
	
	<logger name="com.pchome.dmp.mapreduce.category.CategoryReducer" additivity="true">
		<level value="info" />
		<appender-ref ref="AkbDmpJob" />
	</logger>
	
	<logger name="CategoryLogDriver" additivity="true">
		<level value="info" />
		<appender-ref ref="AkbDmpJob" />
	</logger>
	<logger name="CategoryLogMapper" additivity="true">
		<level value="info" />
		<appender-ref ref="AkbDmpJob" />
	</logger>
	<logger name="CategoryLogReducer" additivity="true">
		<level value="info" />
		<appender-ref ref="AkbDmpJob" />
	</logger>
	
	
	
	
	<logger name="MongoInsertClassUrl" additivity="true">
		<level value="info" />
		<appender-ref ref="MongoInsertUrl" />
	</logger>
	
	<logger name="TransferData" additivity="true">
		<level value="info" />
		<appender-ref ref="TransferData" />
	</logger>
	
	<logger name="writeAkbDmp" additivity="true">
		<level value="info" />
		<appender-ref ref="writeAkbDmp" />
	</logger>

	<logger name="TestRun" additivity="true">
		<level value="info" />
		<appender-ref ref="TestRun" />
	</logger>

	<!-- mongo mapreduce test -->
	<logger name="MapReduceMongoJob" additivity="true">
		<level value="info" />
		<appender-ref ref="mapReduceMongoJob" />
	</logger>

	<logger name="org.hibernate" additivity="true">
    	<level value="ERROR" />
	</logger>
	
	<logger name="com.mchange" additivity="true">
    	<level value="ERROR" />
	</logger>
	
	<root>
		<level value="info" />
		<appender-ref ref="AkbDmp" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>


